<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Favicon -->
    <link rel="icon" href= "./images/icon.png">

    {{!-- jQuery Library --}}
    <script src="https://code.jquery.com/jquery.js"></script>

    {{!-- Client Side Javascript --}}
    <script src="/assets/js/app.js"></script>

    <!-- Font Awesome -->
    <script src="https://kit.fontawesome.com/9210a6e6ef.js"></script>

    <title>Articles Scraper</title>
  </head>
  <body>
    {{{ body }}}
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
       <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>


  </body>
</html>