    <h1>Article Scraper</h1> 
    <div class="nav-btn">
    <button class="btn" id="scrape">Scrape Most Recent Articles</button>
    <a href="/articles/saved" <button class="btn" id="saved">Saved Articles</button></a>
      </div>
      <div id="articles">
                 {{#each article}}
                 {{#unless saved}}
                    {{> articles-block}}
                {{/unless}}
                 {{/each}}
                </div>
