    <h1>Article Scraper</h1> 
    <div class="nav-btn">
    <button class="btn" id="scrape">Scrape Most Recent Articles</button>
    <a href="/articles/saved" <button class="btn" id="saved">Saved Articles</button></a>
      </div>
      <div id="articles">
                 {{#each article}}
                 {{#unless saved}}
                    {{> articles-block}}
                {{/unless}}
                 {{/each}}
                </div>

    <div id="myModal" class="modal">
        <div class="modal-content" id="modal-content-add">
            </div>
            <div class="modal-footer">
                <a href="#!" id="save" class="modal-close waves-effect waves-green btn-flat" value="1">Save Note</a>
                <a href="#!" id="no" class="modal-close waves-effect waves-green btn-flat" value="0">Cancel</a>
            </div>
    </div>
    <div id="noteModal" class="modal">
        <div class="modal-content" id="modal-content-view">
            </div>
            <div class="modal-footer">
                <a href="#!" class="modal-close waves-effect waves-green btn-flat" value="0">Close</a>
            </div>
    </div>
