    <h1>Article Scraper </h1>
      <div id="articles">
                 {{#each article}}
                    {{> articles-block}}
                 {{/each}}
                </div>


    <div id="myModal" class="modal">
        <div class="modal-content">
            </div>
            <div class="modal-footer">
                <a href="#!" id="yes" class="modal-close waves-effect waves-green btn-flat" value="1">Add Note</a>
                <a href="#!" id="no" class="modal-close waves-effect waves-green btn-flat" value="0">Cancel</a>
            </div>
    </div>