    <h1>Saved Articles</h1> 
    <div class="home">
    <a href="/" <button class="btn">Back to Articles</button></a>
    </div>
    <div id="articles">
                 {{#each article}}
                 {{#if saved}}
                    {{> save-articles-block}}
                 {{/if}}
                {{/each}}
</div>
